<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<form>
    <h1>LoL in</h1>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Place holder attribute">
        <small id="emailHelp" class="form-text text-muted">Tip: 404 Not found</small>
    </div>
    <div class="form-group">
        <label for="inputPass">Password</label>
        <input type="password" class="form-control" id="inputPass" aria-describedby="passHelp" placeholder="Pass away">
    </div>
</form>