@page "{type?}"
@model CreateModel
@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" asp-page="/Feature/Create" asp-route-type="cake">Cake</a>
          <a class="dropdown-item" asp-page="/Feature/Create" asp-route-type="drink">Drink</a>
          <a class="dropdown-item" asp-page="/Feature/Create" asp-route-type="ff">Fast Food</a>
        </div>
    </div>
</div>
<div class="alert alert-danger" role="alert">
  @Model.ExceptionE
</div>
@* <div class="container" id="formside">
    <form method="post">
        <div class="row mb-3">                
            <label asp-for="NewCake.ID" class="col-sm-2 col-form-label">ID:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="NewCake.ID" placeholder="Enter id of cake">
            </div>
        </div>
        <div class="row mb-3">                
            <label asp-for="NewCake.Modal" class="col-sm-2 col-form-label">Modal:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="NewCake.Modal" placeholder="Enter modal of cake">
            </div>
        </div>
        <div class="row mb-3">                
            <label asp-for="NewCake.Name" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="NewCake.Name" placeholder="Enter name of cake">
                <span class="text-danger" asp-validation-for="NewCake.Name"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="NewCake.Ingredients" class="col-sm-2 col-form-label">Recipes:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="NewCake.Ingredients" placeholder="Enter Recipes">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="NewCake.Calories" class="col-sm-2 col-form-label">Calories:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" asp-for="NewCake.Calories" placeholder="Enter Calories">
                <span class="text-danger" asp-validation-for="NewCake.Calories"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="NewCake.Rating" class="col-sm-2 col-form-label">Rating:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" asp-for="NewCake.Rating" placeholder="Enter Rating">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="NewCake.Prices" class="col-sm-2 col-form-label">Prices:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" asp-for="NewCake.Prices" placeholder="Enter Prices">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="NewCake.ImgURL" class="col-sm-2 col-form-label">Image:</label>
            <div class="col-sm-10">
                <input type="url" class="form-control" asp-for="NewCake.ImgURL" placeholder="Link Image">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> *@
<div class="container" id="formside">
    @switch(Model.Type){
        case "cake":
        <form method="post">
            <div class="row mb-3">                
                <label asp-for="NewCake.Name" class="col-sm-2 col-form-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="NewCake.Name" placeholder="Enter name of cake">
                    <span class="text-danger" asp-validation-for="NewCake.Name"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewCake.Ingredients" class="col-sm-2 col-form-label">Recipes:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="NewCake.Ingredients" placeholder="Enter Recipes">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewCake.Calories" class="col-sm-2 col-form-label">Calories:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="NewCake.Calories" placeholder="Enter Calories">
                    <span class="text-danger" asp-validation-for="NewCake.Calories"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewCake.Rating" class="col-sm-2 col-form-label">Rating:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="NewCake.Rating" placeholder="Enter Rating">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewCake.Prices" class="col-sm-2 col-form-label">Prices:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="NewCake.Prices" placeholder="Enter Prices">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewCake.ImgURL" class="col-sm-2 col-form-label">Image:</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" asp-for="NewCake.ImgURL" placeholder="Link Image">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        break;
        case "drink":
        <form method="post">
            <div class="row mb-3">
                <label asp-for="NewDrink.Name" class="col-sm-2 col-form-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="NewDrink.Name" placeholder="Enter name of drink">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewDrink.Ingredients" class="col-sm-2 col-form-label">Recipes:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="NewDrink.Ingredients" placeholder="Enter Recipes">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewDrink.Calories" class="col-sm-2 col-form-label">Calories:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="NewDrink.Calories" placeholder="Enter Calories">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewDrink.Rating" class="col-sm-2 col-form-label">Rating:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="NewDrink.Rating" placeholder="Enter Rating">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewDrink.Prices" class="col-sm-2 col-form-label">Prices:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="NewDrink.Prices" placeholder="Enter Prices">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewDrink.ImgURL" class="col-sm-2 col-form-label">Image:</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" asp-for="NewDrink.ImgURL" placeholder="Link Image">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        break;
        case "ff":
        <form method="post">
            <div class="row mb-3">
                <label asp-for="NewFF.Name" class="col-sm-2 col-form-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="NewFF.Name" placeholder="Enter name of Fast Food">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewFF.Ingredients" class="col-sm-2 col-form-label">Recipes:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="NewFF.Ingredients" placeholder="Enter Recipes">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewFF.Calories" class="col-sm-2 col-form-label">Calories:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="NewFF.Calories" placeholder="Enter Calories">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewFF.Rating" class="col-sm-2 col-form-label">Rating:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="NewFF.Rating" placeholder="Enter Rating">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewFF.Prices" class="col-sm-2 col-form-label">Prices:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="NewFF.Prices" placeholder="Enter Prices">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="NewFF.ImgURL" class="col-sm-2 col-form-label">Image:</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" asp-for="NewFF.ImgURL" placeholder="Link Image">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        break;
    }
</div>