@page 
@model CreateCakeModel
@{
    ViewData["Title"] = "Create Cake";
}
<div class="container" id="form-side">
    <form method="post">
        <div class="row mb-3">                
            <label asp-for="NewCake.Name" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="NewCake.Name" placeholder="Enter name of cake">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="NewCake.Ingredients" class="col-sm-2 col-form-label">Recipes:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="NewCake.Ingredients" placeholder="Enter Recipes">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="NewCake.Calories" class="col-sm-2 col-form-label">Calories:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" asp-for="NewCake.Calories" placeholder="Enter Calories">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="NewCake.Rating" class="col-sm-2 col-form-label">Rating:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" asp-for="NewCake.Rating" placeholder="Enter Rating">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="NewCake.Prices" class="col-sm-2 col-form-label">Prices:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" asp-for="NewCake.Prices" placeholder="Enter Prices">
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="NewCake.ImgURL" class="col-sm-2 col-form-label">Image:</label>
            <div class="col-sm-10">
                <input type="url" class="form-control" asp-for="NewCake.ImgURL" placeholder="Link Image">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
