@page "{id?}"
@model EditModel
@{
    ViewData["Title"] = "Edit";
}
<form method="post">
    <div class="mb-3 mt-3">
        <label asp-for=@Model.EditCake.ID class="form-label">ID:</label>
        <input type="text" class="form-control" asp-for=@Model.EditCake.ID placeholder="ID">
    </div>
    <div class="mb-3 mt-3">
        <label asp-for=@Model.EditCake.Name class="form-label">Name:</label>
        <input type="text" class="form-control" asp-for=@Model.EditCake.Name placeholder="Enter name of cake">
    </div>
    <div class="mb-3">
        <label asp-for=@Model.EditCake.Ingredients class="form-label">Recipes:</label>
        <input type="text" class="form-control" asp-for=@Model.EditCake.Ingredients placeholder="Enter Recipes">
    </div>
    <div class="mb-3">
        <label asp-for=@Model.EditCake.Calories class="form-label">Calories:</label>
        <input type="number" class="form-control" asp-for=@Model.EditCake.Calories placeholder="Enter Calories">
    </div>
    <div class="mb-3">
        <label asp-for=@Model.EditCake.Rating class="form-label">Rating:</label>
        <input type="number" class="form-control" asp-for=@Model.EditCake.Rating placeholder="Enter Rating">
    </div>
    <div class="mb-3">
        <label asp-for=@Model.EditCake.Prices class="form-label">Prices:</label>
        <input type="number" class="form-control" asp-for=@Model.EditCake.Prices placeholder="Enter Prices">
    </div>
    <div class="mb-3">
        <label asp-for=@Model.EditCake.Modal class="form-label">Modal:</label>
        <input type="text" class="form-control" asp-for=@Model.EditCake.Modal placeholder="Enter Modal">
    </div>
    @* <div class="mb-3">
        <label asp-for=@Model.EditCake.ImgURL class="form-label">Image:</label>
        <input type="url" class="form-control" asp-for=@Model.EditCake.ImgURL placeholder="Link Image">
    </div> *@
    <button type="submit" class="btn btn-primary">Submit</button>
</form>