@page
@model RazorPagesMovie.Namespace.FormModel

<div>
    <partial name="_ValidationScriptsPartial"/>
    <h1>@ViewData["Something"]</h1>
    <form>
        <label>Add image after know how to do it</label>
        <!--<select asp-for="Country" asp-items="Model.Countries"></select>-->
    </form>
</div>